nav
    p NAV
    ul
        li
            a(href="/index.html") index
        li
            a(href="/dawho.html") dawho
        li cat
            ul
                li
                    a(href="/cat/orange.html") orange
